{% extends 'core/base_account.html' %}
{% load static %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Enter your new password</h4>
                    </div>

                    {% include 'core/partials/message.html' %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    id="password-field"
                                    class="form-control form-control-sm"
                                    value="{{ field_value.password }}"
                            />
                        </div>
                        <div class="form-group mt-4">
                            <input
                                    type="password"
                                    name="confrim-password"
                                    placeholder="Confrim password"
                                    id="confrim-password-field"
                                    class="form-control form-control-sm"
                                    value="{{ field_value.confrim_password }}"
                            />
                        </div>
                        <div class="d-grid gap-2 mt-5">
                            <input type="submit" value="Set it up!" class="btn btn-primary btn-submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
{% endblock %}